In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
earnings10yr = pd.read_csv('Data/earnings_10yr.csv')
cost = pd.read_csv('Data/cost.csv')
debt = pd.read_csv('Data/debtRepymt.csv')
schoolType = pd.read_csv('Data/Type.csv')

In [4]:
earninings_cost = pd.merge(earnings10yr, cost, on='UNITID')

In [5]:
earninings_cost_debt = pd.merge(earninings_cost, debt, on='UNITID')

In [6]:
earninings_cost_debt_type = pd.merge(earninings_cost_debt, schoolType, on='UNITID')
list(earninings_cost_debt_type)

['Unnamed: 0',
 'UNITID',
 'INSTNM',
 'Median_earn_10yr_postgrad',
 'Mean_earn_10yr_postgrad',
 'Mean_earn_10yr_postgrad_female',
 'Mean_earn_10yr_postgrad_male',
 'Num_stud_10yr_postgrad_earn_less_30k',
 'Num_stud_10yr_postgrad_earn_less_30k.1',
 'Num_stud_10yr_postgrad_earn_30_75k',
 'Num_stud_10yr_postgrad_earn_75k_more',
 'Num_stud_10yr_postgrad_earn_75k_more.1',
 'Mean_stud_10yr_postgrad_earn_less_30k',
 'Mean_stud_10yr_postgrad_earn_30_75k',
 'Num_stud_10yr_postgrad_earn_75k_more.2',
 'Num_stud_10yr_postgrad_earn_75k_more.3',
 'Institution_Name_x',
 'Average_Cost_Of_Attendance_By_Academic_Year',
 'Instate_Tuition_&_Fees',
 'Out_Of_State_Tuition_&_Fees',
 'Institution_Name_y',
 'Predom_DegreeGranting',
 'Med_Student_Debt_Female',
 'Med_Student_Debt_Male',
 'Med_Student_Debt_First_Gen',
 'Med_Student_Debt_Non_First_Gen',
 '7yr Repymt Rate (Female)',
 '7yr Repymt Rate (Male)',
 '7yr Repymt Rate (First Gen)',
 '7yr Repymt Rate (Non-Firs Gen)',
 'Institution_Name',
 'Public_Privatenp_Privatefp',
 'Type']

In [7]:
earninings_cost_debt_type_clean = earninings_cost_debt_type[["Average_Cost_Of_Attendance_By_Academic_Year","Median_earn_10yr_postgrad", "Med_Student_Debt_Non_First_Gen", "Type" ]]
earninings_cost_debt_type_clean.head()

,Average_Cost_Of_Attendance_By_Academic_Year,Median_earn_10yr_postgrad,Med_Student_Debt_Non_First_Gen,Type
0,22667.0,31000,14000,Public
1,22684.0,41200,15000,Public
2,13380.0,39600,10750,Private Non-Profit
3,22059.0,46700,13502,Public
4,19242.0,27700,15250,Public

In [8]:
earninings_cost_debt_type_clean["Type"] =  schoolType.Type.str.split().str.get(0)
earninings_cost_debt_type_clean.head()

/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Average_Cost_Of_Attendance_By_Academic_Year,Median_earn_10yr_postgrad,Med_Student_Debt_Non_First_Gen,Type
0,22667.0,31000,14000,Public
1,22684.0,41200,15000,Public
2,13380.0,39600,10750,Private
3,22059.0,46700,13502,Public
4,19242.0,27700,15250,Public

In [9]:
earninings_cost_debt_type_clean["Type"] = pd.get_dummies(earninings_cost_debt_type_clean["Type"])
earninings_cost_debt_type_clean.head()

/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Average_Cost_Of_Attendance_By_Academic_Year,Median_earn_10yr_postgrad,Med_Student_Debt_Non_First_Gen,Type
0,22667.0,31000,14000,0
1,22684.0,41200,15000,0
2,13380.0,39600,10750,1
3,22059.0,46700,13502,0
4,19242.0,27700,15250,0

In [10]:
earninings_cost_debt_type_clean["Average_Cost_Of_Attendance_By_Academic_Year"] = earninings_cost_debt_type_clean["Average_Cost_Of_Attendance_By_Academic_Year"].replace('PrivacySuppressed', '')
earninings_cost_debt_type_clean["Median_earn_10yr_postgrad"] = earninings_cost_debt_type_clean["Median_earn_10yr_postgrad"].replace('PrivacySuppressed', '')
earninings_cost_debt_type_clean["Med_Student_Debt_Non_First_Gen"] = earninings_cost_debt_type_clean["Med_Student_Debt_Non_First_Gen"].replace('PrivacySuppressed', '')
earninings_cost_debt_type_clean["Type"] = earninings_cost_debt_type_clean["Type"].replace('PrivacySuppressed', '')
# earninings_cost_debt_type_clean

/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [11]:
earninings_cost_debt_type_clean = earninings_cost_debt_type_clean.dropna(axis=0,  how='any')

In [12]:
# earninings_cost_debt_type_clean = earninings_cost_debt_type_clean.drop(earninings_cost_debt_type_clean[earninings_cost_debt_type_clean.Average_Cost_Of_Attendance_By_Academic_Year == ''].index)
earninings_cost_debt_type_clean = earninings_cost_debt_type_clean.drop(earninings_cost_debt_type_clean[earninings_cost_debt_type_clean.Median_earn_10yr_postgrad == ''].index)
earninings_cost_debt_type_clean = earninings_cost_debt_type_clean.drop(earninings_cost_debt_type_clean[earninings_cost_debt_type_clean.Med_Student_Debt_Non_First_Gen == ''].index)

In [13]:
earninings_cost_debt_type_clean = earninings_cost_debt_type_clean.dropna(axis=0,  how='any')

In [14]:
# Assign X (data) and y (target)
X = earninings_cost_debt_type_clean.drop("Type", axis=1)
y = earninings_cost_debt_type_clean["Type"]
print(X.shape, y.shape)

(3150, 3) (3150,)

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
# X_train.dtype()

In [16]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [17]:
model.fit(X_train, y_train)

/Users/brianvanhoff/anaconda3/envs/pythondata/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.9229466553767993
Testing Data Score: 0.9149746192893401

In [21]:
predictions = model.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10].tolist()}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1, 1, 0, 1, 0, 1, 0, 1, 0, 0]
First 10 Actual labels: [1, 0, 0, 1, 0, 1, 1, 0, 0, 0]

In [36]:
# pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [ ]:
average_cost = int(input("What is the average cost of attendance per year: "))
earn_10y_post_grad = int(input("What are/were your earnings 10 years after graduation? "))
debt = int(input("How much is your debt? "))

In [ ]:
user_prediction = [{'Average_Cost_Of_Attendance_By_Academic_Year':average_cost, 
                   'Median_earn_10yr_postgrad': earn_10y_post_grad,
                   'Med_Student_Debt_Non_First_Gen': debt}]
user_prediction = pd.DataFrame(user_prediction)

In [ ]:
model_prediction = model.predict(user_prediction)[0]
if model_prediction == 0:
    print("you most likely went to a public school")
else:
    print("you most likely went to a private school")
model_prediction

In [ ]:
from sklearn.externals import joblib
# save the model to disk
filename = 'earninings_cost_debt_type.sav'
joblib.dump(model, filename)